.advantages {
  width: auto;
}

.advantages__wrapper {
  padding-top: 30px;
  padding-bottom: 13px;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  position: relative;
  padding: 0 40px;
  padding-top: 100px;

  text-align: center;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 50%;

    width: 95px;

    margin-left: -45.5px;

    background-repeat: no-repeat;
  }
}

.advantages__item--fast {
  &::before {
    height: 94px;

    background-image: url("/img/advantage-1-illustration.svg");
  }
}

.advantages__item--price {
  &::before {
    height: 88px;


    background-image: url("/img/advantage-2-illustration.svg");
  }
}

.advantages__item--cool {
  &::before {
    height: 91px;

    background-image: url("/img/advantage-3-illustration.svg");
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 13px;

  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.advantages__description {
  margin: 0 auto;
  max-width: 280px;

  font-size: 20px;
  line-height: 26px;
}

.advantages__toggles {
  display: block;
  width: auto;

  bottom: 12px;

  margin: 0 auto;
  margin-top: 40px;
}

@media (max-width: $mobile-width-only) {
  .advantages__wrapper {
    min-height: 315px;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 84%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  .advantages__wrapper {
    padding: 0;
  }

  .advantages__item {
    display: inline-block;

    text-align: left;

    width: 520px;
    padding: 0;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 120px;

    border-top: 1px solid #4e4e4e;

    &::before {
      top: 40px;
      left: 10px;

      margin-left: 0;
    }

    &:first-child {
      border-top: none;
    }
  }

  .advantages__description {
    margin: 0;
    max-width: 100%;
  }

  .advantages__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    display: flex;
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    flex-basis: 270px;
    flex-grow: 1;
    width: auto;
    padding: 0 30px;
    padding-top: 120px;

    margin: 0;
    margin-top: 10px;

    text-align: center;

    border-top: none;
    border-right: 1px solid #4e4e4e;

    &:last-child {
      border-right: none;
    }


    &::before {
      top: 0;
      left: 50%;

      margin-left: -45.5px;
    }
  }
}
