.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 85px;

  text-align: center;
}

.page-header__logo img {
  width: 226px;
  height: 30px;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-color: #000000;
  }

  .page-header__logo {
    order: 2;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 648px;
  }
}
