.slider {
  position: relative;
}

.slider__toggles {
  position: absolute;
  //height: 10px;

  text-align: center;
  font-size: 0;
}

.slider__toggle {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 23px;

  vertical-align: top;

  border: 1px solid #cccccc;

  //transform: rotate(45deg);
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.slider__item {
  display: none;
}

.slider__item--active {
  display: block;
}

.slider__input {
  position: absolute;

  opacity: 0;
}
