.stats {
  width: 320px;
  margin: 0 auto;
}

.stats__header {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;

  color: #000000;

  background-color: #ffffff;
}

.stats__slogan {
  display: block;
  margin-bottom: 15px;

  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.stats__intro {
  margin: 0;

  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.stats__legend {
  display: block;

  font-size: 20px;
  line-height: 20px;
}

.stats__legend--bottom {
  padding-top: 20px;
  padding-bottom: 14px;

  text-align: center;
  color: rgba(255, 255, 255, 0.3);

  background-color: $bg-darkgrey;
}

.stats__legend--top {
  display: none;
}

.stats__legend sup {
  top: -0.25em;

  font-size: 90%;
}

.stats__list {
  width: 100%;

  /* Временно для сетки */
  height: 320px;
}

@media (min-width: $tablet-width) {
  .stats {
    width: 640px;
    margin-top: -185px;

    /* Временно для сетки */
    min-height: 0;
  }

  .stats__list {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .stats {
    display: flex;
    width: 960px;
    margin-top: -160px;
  }

  .stats__header {
    width: 240px;

    /* Временно для сетки */
    min-height: 263px;
  }

  .stats__list {
    width: 640px;
  }
}
