.stats {
  width: 320px;
  margin: 0 auto;

  /* Временно для сетки */
  min-height: 570px;
}

.stats__header {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;

  /* Временно для сетки */
  min-height: 130px;
}

.stats__list {
  width: 100%;

  /* Временно для сетки */
  min-height: 320px;
}
